<div class="card">
  <div class="card-body" (click)="toggleExpand()" [ngClass]="{'CardCompleted': card.completed, 'CardExpired': card.expired&&!card.completed, 'CardInProgress': !card.expired&&!card.completed, 'CardExpanded' : isExpanded}">
    <h5 class="card-title">
      {{ card.title }}
      <div class="buttons">
        <button class="btn" (click)="openModal(content)">
          <i class="bi bi-pencil"></i>
        </button>
        <button class="btn" (click)="deleteTodo()">
          <i class="bi bi-trash"></i>
        </button>
        <div class="checkbox-wrapper-18">
          <div class="round">
            <input type="checkbox" [id]="'checkbox-' + card.id" [ngClass]="{'CheckedButton': card.completed}" [(ngModel)]="card.completed" (change)="toggleCompleted()" />
            <label [for]="'checkbox-' + card.id"></label>
          </div>
        </div>
      </div>
    </h5>
    <p class="card-text">
      <small class="text-muted">Créé le : {{ card.creationDate.toDate() | date:'dd-MM-yyyy' }}</small>
      <br>
      @if (card.dueDate) {
        <small class="text-muted">Pour le : {{ card.dueDate.toDate() | date:'dd-MM-yyyy' }}</small>
      }
    </p>
    <p class="card-text">{{ card.content }}</p>

    <!-- Modal -->
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Modifier la tâche</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <app-edit-card [card]="card" #editCard></app-edit-card>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="saveChanges(editCard, modal)">Save</button>
      </div>
    </ng-template>
   
  </div>
</div>