button {
    background-color: #bebebe;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    margin : 10px;
  }
  
  button:hover {
    background-color: #828282;
  }
  
  button:active {
    background-color: #767676;
  }